:root{
    --overall-background: #150E28;
    --white-text-color:#FFF;
    --purple-text-color:#D434FE;
    --sub-text-color:#FF26B9;
    --outline:1px solid orange;
}

img {
    display: block;
    max-width: 100%;
}
html{
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:'Clash Display', sans-serif;
    background-repeat: no-repeat;
    background-blend-mode: hard-light;
    background-color: var(--overall-background);
    position: relative;
    overflow-x: hidden;
}
.mobile{
    display: flex;
    padding: 5%;
    justify-content: space-between;
    align-items: center;
}
#menu-icon{
    cursor: pointer;
}
.logo{
    cursor: pointer;
}
.logo p{
    font-size: 1.3rem;
    font-weight: 700;
}
.get{
    color: var(--white-text-color)
}
.desktop-logo{
    cursor: pointer;
}
.desktop-header{
    padding: 3% 5%;
}
.desktop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.desktop-logo p{
    font-size: 2rem;
    font-weight: 700;
}
.desktop-nav{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.navlinks{
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
}
.navlinks{
    display: flex;
    list-style-type: none;
}
.navlinks li a{
    line-height: .3px;
    letter-spacing: .3mm;
    font-weight: 400;
    font-size: .8rem;
    color: var(--white-text-color);
    text-decoration: none;
}
.desktop-nav button a{
    color: var(--white-text-color);
    text-decoration: none;
    font-weight: 400;
    font-size: .8rem;
}
.desktop-nav button{
    border: none;
    padding: 15px 30px;
    border-radius: 4px;
    cursor: pointer;
    background: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%);
    transition: .3s;
    color: white;
    font-weight: 400;
}


.desktop-nav button:hover {
    outline: 1px solid var(--purple-text-color);
    background: var(--overall-background);
}
.linked{
    color: var(--purple-text-color)
}
#nav{
    display: flex;
    flex-direction: column;
    gap: 15%;
    padding: 30px;
    top: -100%;
    height: 67%;
    background-color: var(--overall-background);
    position: fixed;
    width: 100%;
    z-index: 3;
    transition: .3s;
}
#nav li{
    margin: 20px 0;
    list-style-type: none;
}
#nav #close{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./Mobile-svgs/close-icon-background.png);
    height: 25px;
    width: 25px;
    background-repeat: no-repeat;
    right:10px;
    margin-left: 90%;
    color: rgb(187, 8, 8);
}
#nav ul li a{
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
#nav button a{
    color: var(--white-text-color);
    text-decoration: none;
}
#nav button{
    border-radius: 5px;
    border: none;
    max-width: 50%;
    padding: 5% 10%;
    background: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%);
    color: var(--white-text-color);

}

/* AMEEN'S STYLING */


/* ------------------------------------------------- */

/* ----------------------------------------------------- */


.ameen{
    background-color: #140D27;
    color: white;
}
.big_idea{
    padding: 4%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section{
    margin: 5% 0;
}

.image-container .wobbly{
    height: 7%;
    width: 7%;
    margin: 3% 0;
}
.header{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    margin: 5% 0;
}
.header span{
    color: var(--sub-text-color);
    text-align: center;
}
.info p{
    font-size: 1rem;
    padding: 5%;
    text-align: center;
    line-height: 2rem;
    text-align: center;
}
.judging{
    padding: 2% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.judging span{
    color: var(--sub-text-color);
    font-weight: 700;
}
.judging-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.judging-info p{
    font-size: .9rem;
    line-height: 1.5rem;
    margin: 5% 8%;
    text-align: center;
}
.judging-info button{
    cursor: pointer;
    padding: 2% 5%;
    margin: 0 auto;
    border: none;
    background-image: linear-gradient(90deg,#FE34B9, #D434FE ,#903AFF);
    color: var(--white-text-color);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-weight: bold;
    border-radius: 10px;
}
.faq{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1% 8%;
}
.faq .header{
    font-weight: 800;
}
.faq .faq-heading{
    text-align: center;
    font-size: 1rem;
    margin-bottom: 5%;
}
.faq .questions p{
    display: flex;
    align-items: end;
    padding: 2% 0;
    border-bottom: 2px solid var(--purple-text-color);
}
.faq p span{
    color: var(--purple-text-color);
}
.t_head{
    text-align: center;
}
.t_info img{
    /* width: 19.32px; */
    height:100%;
}
.t_info{
    display: flex;
    margin-left: 3%;
}
.t_text{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.t_info .t_text p{
    text-align: left;
}
.t_info .t_text p span{
    color: #D434FE;
}

.h1_wraps img {
    width: 30px;
    height: 46px;
}

/* DESKTOP VIEW  */
@media only screen and (min-width:400px){
    
}    
@media only screen and (min-width:600px){    
    .big_idea {
        flex-flow: row;
        align-items: center;
        margin:0% 7%;
    }
    .image-container{
        flex-basis: 40%;
    }
    .info{
        flex-basis: 50%;
        text-align: right;
    }
    .big_idea .info p{
        font-size: .7rem;
        line-height: 20px;
        text-align: left;
    }
    .big_idea .info .header{
        align-items: start;
        padding: 0 5%;
        line-height: 110%;
        font-size: 1.3rem;
    }
    .guidlines{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin: 0 7%;
    }
    .guidlines .info p{
        font-size: 1rem;
        line-height: 20px;
        text-align: left;
    }
    .guidlines .info .header{
        align-items: start;
        padding: 0 3%;
        font-size: 1.3rem;
    }
    .judging{
        flex-direction: row;
        align-items: center;
        margin: 0 7%;
    }
    .judging-info .header{
        align-items: start;
        padding: 0 5%;
        line-height: 110%;
        font-size: 1.3rem;
    }
    .judging img{
        width: 60%;
        height: 70%;
    }
    .judging-info {
        align-items: start;
    }
    .judging-info p{
        line-height: 110%;
        flex-basis: 50%;
        font-size: .8rem;
        margin: 2% 1%;
        text-align: start;
    }
    .faq{
        flex-direction: row;
        gap: 2%;
    }
    .faq .faq-heading{
        font-size: .8rem;
    }
    .faq .questions p{
        justify-content: space-between;
        font-size: 3px;
        /* color: red; */
    }
    .faq img{
        width: 50%;
    }
}

@media only screen and (min-width:1000px){
    .big_idea .info p{
    font-size: 1rem;
    }
    .info p.header{
        line-height: 100%;
        padding: 2% 5%;
    }
    .info p.header, .info .header span{
        margin: 0;
        font-size: 1.5rem;
    }
    .judging .header{
        align-items: start;
    }
    .judging{
        margin: 0 7%;
    }
    .judging img{
        width: 100%;
        height: 70%;
    }
    .judging-info p{
        line-height: 110%;
        flex-basis: 50%;
        font-size: .9rem;
        margin: 2% 1%;
    }
    /* .fa_info{
        display: flex;
        flex-direction: column;
        align-items: start; 
    } */
    .faq .header{
        text-align: start;
    }
    .faq .questions p{
        justify-content: space-between;
        font-size: .9rem;
    }
    .faq .faq-heading{
        font-size: 1rem;
    }
    .faq img{
        flex-basis: 100%;
    }
}

/* Media query for header tag */
@media only screen and (max-width:600px){
    .mobile-header{
        display: block;
    }
    .desktop-header{
        display: none;
    }
}
@media only screen and (min-width:600px){
    .mobile-header{
        display: none;
    }
    .desktop-header{
        display: block;
    }
}
@media only screen and (max-width:750px){
    .navlinks li a{
        font-size: .6rem;
    }
    .desktop-nav button{
        padding: 12px 20px;
    }
    .desktop-logo p{
        font-size: 1.5rem;
    }
} 

/* emmanuel branch */
/* first section */
.background_img {
    position: absolute;
    left: -10px;
    top: 101px;
    z-index: -1;
    mix-blend-mode: hard-light;
    width: 79%;
}

.section_1 {
    /* outline: var(--outline); */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1% auto;
    justify-content: center;
    border-top: 1px solid #FFFFFF2E;
}

/* the section first wrap  for the text */
.general_wrap1 {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 10px;
}
/* text and curve line wrap */
.text_and_curve_line {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
    margin-top: 34px;
}
.text_and_curve_line p {
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(9px, 3vh, 16px);
    font-style: italic;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--white-text-color);
}
.text_and_curve_line img {
    align-self: end;
    position: relative;
    left: -10px;
    width: 40%;
}

/* h1 text and icon combine */
.h1_wraps {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white-text-color);
}
.h1_wraps h1 {
    font-family: 'Clash Display', sans-serif;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
}
.h1_wraps h1:first-child {
    position: relative;
    white-space: nowrap;
}
.h1_wraps h1:first-child img {
    position: absolute;
    top: -36px;
    right: -3px;
}

.h1_wraps h1:last-child {
    display: flex;
    align-items: center;
}
.h1_wraps h1:last-child span {
    color: var(--purple-text-color);
    margin-left: 10px;
}

/* paragraph text and button wrap */
.paragraph_and_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.paragraph_and_button p {
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    width: 264px;
    height: 44px;
    color: var(--white-text-color);
}
.paragraph_and_button button {
    width: 152px;
    height: 46.84px;
    border-radius: 4px;
    background: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%);
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--white-text-color);
    cursor: pointer;
}

.paragraph_and_button button:hover {
        outline: 1px solid var(--purple-text-color);
        background: var(--overall-background);
    }

/* the time text structure */
.timing_text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-text-color);
    margin-top: 5px;
}
.timing_text p {
    font-family: "Unica one";
    font-size: 48px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    align-self: center;
    justify-self: center;
    gap: 10px;
}
.timing_text p sub {
    position: relative;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    bottom: -30px;
    right: 8px;
}

/* the section second wrap for the pictures */
.general_wrap2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.general_wrap2 .first_child {
    position: absolute;
    z-index: 1;
    width: 72%
}
.general_wrap2 .mobile_img {
    mix-blend-mode: luminosity;
}

/* the stars positioning */
.star {
    position: absolute;
    z-index: 1;
    width: 13px;
}
.star1 {
    right: 66px;
    top: -25px;
    width: 6px;
    height: 8px; 
}
.star2 {
    width: 6px;
    height: 8px;
    right: 82px;
    bottom: 100px;
}
.star3 {
    left: 126px;
    top: -22px;
    width: 10px;
    height: 12px;
}

/* media query for destop view */
.desktop_img {
    display: none;
}
.master_wrap {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.metrix, .lenNear, .left_side {
    display: none;
}

@media screen and (min-width: 560px) {
    .master_wrap {
        flex-direction: row;
        margin-top: 6px;
        align-items: center;
        padding-inline: 11px
    }

    .text_and_curve_line {
        gap: 14px;
        align-items: end;
        width: 86%;
        margin-top: 50px;
    }

    .text_and_curve_line img {
        align-self: end;
        position: relative;
        left: -10px;
        width: 23%;
    }

    .text_and_curve_line {
        gap: 6px;
        align-items: end;
        width: 86%;
        margin-top: 50px;
    }

    .paragraph_and_button p {
        text-align: left;
        max-width: 412px;
        font-size: 20px;
        line-height: 27.2px;
    }

    .h1_wraps {
        align-items: start;
    }

    .paragraph_and_button {
        gap: 88px;
    }

    .paragraph_and_button {
        align-items: start;
    }

    .timing_text {
        justify-content: start;
        margin-top: 30px;
    }

    .general_wrap1 {
        position: relative;
        right: -48px;
    }
}

@media screen and (min-width: 800px) {


    .paragraph_and_button button {
        cursor: pointer;
    }
    /* star repositioning */
    .star3 {
        width: 26px;
        height: 36px;
        left: 60px;
        top: -136px;
    }
    .star1, .star2 {
        width: 26px;
        height: 32px;
    }
    .star1 {
        right: 27px;
        top: -59px;
    }
    .star2 {
        right: 101px;
        bottom: 65px
    }
    .general_wrap2 {
        position: relative;
    }
    .left_side {
        display: block;
        position: absolute;
        left: -137px;
        top: 10px;
        width: 84%;
        mix-blend-mode: hard-light;
        z-index: -2;
    }
    .metrix {
        display: block;
        position: absolute;
        z-index: -3;
        right: 0;
        top: 20px;
    }
    .lenNear {
        display: block;
        position: absolute;
        z-index: -2;
        right: 0;
        top: 20px;
        mix-blend-mode: hard-light;
    }
    main {
        overflow: hidden;
    }
    .background_img {
        display: none;
    }
    .master_wrap {
        flex-direction: row;
        margin-top: 6px;
        align-items: center;
    } 
.h1_wraps {
    align-items: start;
}
.h1_wraps h1 {
    font-size: 3rem;
    z-index: 2;
}
.h1_wraps img {
    width: 60px;
    height: 60px;
}
.paragraph_and_button {
    align-items: start;
}
.paragraph_and_button p {
    text-align: left;
    width: 412px;
    font-size: 20px;
    line-height: 27.2px;
}
.timing_text {
    justify-content: start;
    margin-top: 87px;
}
.timing_text p {
        font-size: 63px;
}
.mobile_img {
    display: none;
}
.desktop_img {
    display: block;
    mix-blend-mode: luminosity;
    min-width: 581px;
    max-width: 460px;
}
.general_wrap1 {
    position: relative;
    right: -132px;
}
.text_and_curve_line {
    gap: 14px;
    align-items: end;
    width: 96%;
    margin-top: 50px
}
.text_and_curve_line p {
        font-size: 24px;
}
.text_and_curve_line img {
left: -10px;
width: 173px;
}
.general_wrap1 {
gap: 11px;
}
.paragraph_and_button {
gap: 49px;
}
.paragraph_and_button button {
width: 172px;
height: 53px;
}
.h1_wraps h1:first-child img {
position: absolute;
top: -41px;
right: -2px;
}
.timing_text p sub {
bottom: -36px;
}
.paragraph_and_button button {
font-size: 16px;
}
}
/* AMEEN'S STYLING */


/* ------------------------------------------------- */

/* ----------------------------------------------------- */


#overview{
    background-color: #140D27;
    color: white;
}
.big_idea{
    padding: 4%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section{
    margin: 8% 0;
}

.image-container .wobbly{
    height: 7%;
    width: 7%;
    margin: 3% 0;
}
.header{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    margin: 5% 0;
}
.header span{
    color: var(--sub-text-color);
    text-align: center;
}
.info p{
    font-size: 1rem;
    padding: 5%;
    text-align: center;
    line-height: 2rem;
    text-align: center;
}
.judging{
    padding: 2% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.judging span{
    color: var(--sub-text-color);
    font-weight: 700;
}
.judging-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.judging-info p{
    font-size: .9rem;
    line-height: 1.5rem;
    margin: 5% 8%;
    text-align: center;
}
.judging-info button{
    cursor: pointer;
    padding: 2% 5%;
    margin: 2% auto;
    border: none;
    background-image: linear-gradient(90deg,#FE34B9, #D434FE ,#903AFF);
    color: var(--white-text-color);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-weight: bold;
    border-radius: 10px;
}
#faq{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1% 8%;
}
#faq .header{
    font-weight: 800;
}
#faq .faq-heading{
    text-align: center;
    font-size: 1rem;
    margin-bottom: 5%;
}
#faq .questions p{
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 2% 0;
    border-bottom: 2px solid var(--purple-text-color);
}
#faq p span{
    color: var(--purple-text-color);
}
.t_head{
    text-align: center;
}
.t_info img{
    /* width: 19.32px; */
    height:100%;
}
.t_info{
    display: flex;
    margin-left: 3%;
}
.t_text{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.t_info .t_text p{
    text-align: left;
}
.t_info .t_text p span{
    color: #D434FE;
}

/* DESKTOP VIEW  */
@media only screen and (min-width:400px){
    section img{
        width: 60%;
    }
}    
@media only screen and (min-width:600px){  
    section img{
        width: 80%;
    }  
    .big_idea {
        flex-flow: row;
        align-items: center;
        margin:0% 7%;
    }
    .image-container{
        flex-basis: 40%;
    }
    .info{
        flex-basis: 50%;
        text-align: right;
    }
    .big_idea .info p{
        font-size: .7rem;
        line-height: 20px;
        text-align: left;
    }
    .big_idea .info .header{
        align-items: start;
        padding: 0 5%;
        line-height: 110%;
        font-size: 1.3rem;
    }
    .guidlines{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin: 0 7%;
    }
    .guidlines .info p{
        font-size: .8rem;
        line-height: 20px;
        text-align: left;
    }
    .guidlines .info .header{
        align-items: start;
        padding: 0 3%;
        font-size: 1.3rem;
    }
    .judging{
        flex-direction: row;
        align-items: center;
        margin: 0 7%;
    }
    .judging-info .header{
        align-items: start;
        padding: 0 5%;
        line-height: 110%;
        font-size: 1.3rem;
    }
    .judging img{
        width: 60%;
        height: 70%;
    }
    .judging-info {
        align-items: start;
    }
    .judging-info p{
        line-height: 110%;
        flex-basis: 50%;
        font-size: .8rem;
        margin: 2% 1%;
        text-align: start;
    }
    #faq{
        flex-direction: row;
        gap: 2%;
    }
    #faq .faq-heading{
        font-size: .8rem;
        font-weight: 700;
    }
    #faq .questions p{
        justify-content: space-between;
        font-size: .8rem;
        /* color: red; */
    }
    #faq img{
        width: 50%;
    }
}

@media only screen and (min-width:1000px){
    section img{
        width: 80%;
    }
    .big_idea .info p{
    font-size: 1rem;
    }
    .info p.header{
        line-height: 100%;
        padding: 2% 5%;
    }
    .info p.header, .info .header span{
        margin: 0;
        font-size: 1.5rem;
    }
    .guidlines .info p{
        padding: 2% 0;
        font-size: 1rem;
    }
    .guidlines .info .header{
        padding: 2% 0;
        font-size: 1.3rem;
    }
    .judging .header{
        padding: 0;
        align-items: start;
    }
    .judging{
        margin: 0 7%;
    }
    .judging img{
        width: 100%;
        height: 70%;
    }
    .judging-info p{
        align-items: start;
        line-height: 110%;
        flex-basis: 50%;
        font-size: .9rem;
        margin: 2% 1%;
    }
    #faq .header{
        text-align: start;
    }
    #faq .questions p{
        justify-content: space-between;
        font-size: 1rem;
    }
    #faq .faq-heading{
        font-size: 1rem;
    }
    #faq img{
        flex-basis: 100%;
    }
}


    @media screen and (min-width: 1200px) {
    .paragraph_and_button button {
        cursor: pointer;
    }
    .h1_wraps {
        gap: 0px;
    }
    .h1_wraps h1 {
        font-size: 5rem;
    }
    .h1_wraps img {
        width: 76px;
        height: 76px;
    }
    .desktop_img {
        min-width: 820px;
        max-width: 415px;
        position: relative;
        right: 63px;
    }
    .timing_text p {
        font-size: 64px;
    }
    .text_and_curve_line {
        width: 88%;
    }
    .text_and_curve_line p {
        font-size: 36px;
    }
    .text_and_curve_line img {
        left: -10px;
        width: 253px;
    }
    .paragraph_and_button p {
        line-height: 33.2px;
    }
    .h1_wraps h1:first-child img {
        position: absolute;
        top: -48px;
        right: 18px;
    }
    .general_wrap2 .first_child {
        right: 175px;
    }
    .metrix {
        right: 0;
        top: 20px;
    }
    .lenNear {
        display: block;
        position: absolute;
        z-index: -2;
        right: 0;
        top: 107px;
        width: 62%;
        overflow: hidden;
    }
}


/* ---------the timeline formation----------- */
#timeline_guild {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
/* --------the header style--------- */
.the_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.the_header h2 {
    font-family: 'Clash Display',sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 26.6px;
}
.the_header p {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    max-width: 292px;
}
.text_and_date_wrap {
    display: flex;
    flex-direction: column;
    margin: 7px;
    margin-top: 36px;
    margin-left: 10%;
    gap: 24px;
    position: relative;
}
.text_and_date_wrap .text p {
    text-align: left;
}
.text_and_date_wrap .text b {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 28px;
    color: var(--purple-text-color);
}
.text_and_date_wrap .text p {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    max-width: 262px;
    height: 42px;
}
.date_path b {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--purple-text-color);
}
.rounded {
    width: 19.32px;
    height: 19.32px;
    border-radius: 50%;
    background: linear-gradient(90deg , #903AFF, #D434FE);
    display: flex;
    align-items: center;
    justify-content: center;
}
.rounded p {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
}
.line {
    position: absolute;
    width: 77px;
    transform: rotate(90deg);
    top: -48px;
    left: -29px;
    border: 2px solid #D434FE;
}
.objects_path {
    display: block;
    position: absolute;
    left: -28px;
    bottom: -1px;
}
.text {
    display: flex;
    flex-direction: column;
    align-items: start;
}

@media screen and (min-width: 720px) {
    .text_and_date_wrap {
        flex-direction: row;
        align-items: center;
        gap: 74px;
    } 

    .general_wrap {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1px;
        margin-top: 45px;
        right: 61px;
    }

    .objects_path {
        position: relative;
        left: 0;
        bottom: 0;
    }

    .text {
        flex-wrap: wrap;
        word-wrap: break-word;
        width: 250px;
        gap: 20px
    }

    .text_and_date_wrap:nth-child(2), .text_and_date_wrap:nth-child(4), .text_and_date_wrap:nth-child(6) {
        flex-direction: row-reverse;
        left: 118px;
    }

    .tex {
        align-items: end;
    }

    .text_and_date_wrap .tex p {
        text-align: right;
    }
}



@media screen and (min-width:1100px) {
    .text_and_date_wrap {
        flex-direction: row;
        align-items: center;
        gap: 74px;
    }

    .general_wrap {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .objects_path {
        position: relative;
        left: -1px;
    }

    .objects_path .lin {
        width: 64px;
        top: -40px;
        left: -6px;
        border-width: 4px;
    }

    .line {
        border-width: 4px;
        left: -12px;
    }

    .objects_path .rounded {
        width: 53px;
        height: 53px;
        border-radius: 26.5px;
    }

    .rounded p{
        font-size: 24px;
    }


    .text_and_date_wrap .text p {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        width: 400px;
        height: 42px;
    }

    .text {
        flex-wrap: wrap;
        word-wrap: break-word;
        width: 500px;
        gap: 20px;
    }

    .text_and_date_wrap .text b {
        font-size: 24px;
    }

    .date_path b {
        font-size: 24px;
        text-wrap: nowrap;
    }

    .text_and_date_wrap:nth-child(2), .text_and_date_wrap:nth-child(4), .text_and_date_wrap:nth-child(6) {
        flex-direction: row-reverse;
        left: 228px;
        transform: translate(-39px, 3px);
    }

    .tex {
        align-items: end;
    }

    .text_and_date_wrap .tex p {
        text-align: right;
    }

    .general_wrap {
        right: 141px;
    }

    .the_header h2 {
        font-size: 32px;
    }
 }

