:root{
    --overall-background: #150E28;
    --white-text-color:#FFF;
    --purple-text-color:#D434FE;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:'Clash Display', sans-serif;;
    padding: 20px;
    background: url(./Mobile-svgs/Purple-Lens-Flare-PNG.svg);
    background-repeat: no-repeat;
    background-blend-mode: hard-light;
    background-color: var(--overall-background);
}
header{
    display: flex;
    padding: 3% 12%;
    justify-content: space-between;
    align-items: center;
}
#menu-icon{
    cursor: pointer;
}
.logo{
    cursor: pointer;
}
.logo p{
    font-size: 1.3rem;
    font-weight: 700;
}
.get{
    color: var(--white-text-color)
}
.linked{
    color: var(--purple-text-color)
}
#nav{
    display: flex;
    flex-direction: column;
    gap: 15%;
    padding: 30px;
    top: -100%;
    height: 65%;
    position: fixed;
    background-color: var(--overall-background);
    width: 100%;
    z-index: 1;
    transition: .3s;
}
#nav li{
    margin: 20px 0;
    list-style-type: none;
}
#nav p{
    right:20px;
    margin-left: 80%;
    color: rgb(187, 8, 8);
}
#nav ul li a{
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
#nav button{
    border-radius: 5px;
    border: none;
    max-width: 50%;
    padding: 5% 10%;
    background: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%);

}

/* emmanuel styling */

main {
    position: relative;
}

.the_top_text{
    color: var(--white-text-color);
    font-weight: 700;
    text-align: center;

    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}

.curved {
    position: absolute;
    top: 30px;
    right: 50px;
}

.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: #FFF;
    font-family: 'Clash Display', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



